.waves-parallax > use {
  animation-name: waves;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.wave1{
  animation-duration: var(--speed1);
  fill: var(--color1); 
  animation-delay: -20s;
}

.wave2 {
  animation-duration: var(--speed2);
  fill: var(--color2);
  animation-delay: -14s;
  opacity: 0.8; 
}

.wave3 {
  animation-duration: var(--speed3);
  fill: var(--color3);
  animation-delay: -50s;
  opacity: 0.6;
}

@keyframes waves {
  0%{
    transform: translate3d(-90px,0,0);
  }
  100%{
    transform: translate3d(85px,0,0);
  }
}